<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApplyToken</servlet-name>
        <servlet-class>SignServer.servlets.ApplyToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCertificate</servlet-name>
        <servlet-class>SignServer.servlets.ViewCertificate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockToken</servlet-name>
        <servlet-class>SignServer.servlets.BlockToken</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Server.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Server.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Server.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadForSign</servlet-name>
        <servlet-class>SignServer.servlets.UploadForSign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SoftTokenValidation</servlet-name>
        <servlet-class>SignServer.servlets.SoftTokenValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSignedDoc</servlet-name>
        <servlet-class>SignServer.servlets.ViewSignedDoc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplyToken</servlet-name>
        <url-pattern>/ApplyToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCertificate</servlet-name>
        <url-pattern>/ViewCertificate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockToken</servlet-name>
        <url-pattern>/BlockToken</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadForSign</servlet-name>
        <url-pattern>/UploadForSign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SoftTokenValidation</servlet-name>
        <url-pattern>/SoftTokenValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSignedDoc</servlet-name>
        <url-pattern>/ViewSignedDoc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
